<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNO - Multiplayer Card Game</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/bundle.css" />
  </head>
  <body class ="landing-page">
    <div class="landing-container">
      <div class="landing-hero">
        <h1>
          <img src="/favicon.svg" class="site-logo" alt="Uno Logo">
          Uno
        </h1>

        <p class="tagline">
          A wild, fast-paced card game where friendships are tested, </br>
          chaos unfolds, and only the quickest strategist takes the victory.
        </p>

        <div class="landing-actions">
          <a href="/auth/login" class="btn-primary btn-large">Log In</a>
          <a href="/auth/signup" class="btn-secondary btn-large">Sign Up</a>
        </div>
      </div>
    </div>
  </body>
</html>
